body{
  background-color: coral;
}
h1{
  font-size: 50px;
  text-align: center;
}
.gameBtnandScore{
  visibility: hidden;
  display: flex; /*Put this in container which contains the button elements*/
}
#startBtn{
  visibility: visible;
  margin: auto;
  display: block;
}
.GameButtons{
  font-size: 30px;
  padding: 50px; /*Padding adjusts the height of the button*/
  white-space: nowrap;
  transform: translateY(450%);
  width: 33%;
  align-content: stretch;
  margin-right: 5px;
}
#rockButton{
 
}
#paperButton{
  
}
#scissorsButton{
  
}
