body{
  background-color: coral;
}
h1{
  font-size: 50px;
  text-align: center;
}
.gameBtnandScore{
  visibility: hidden;
  display: flex; /*Put this in container which contains the button elements*/
}
#startBtn{
  visibility: visible;
  margin: auto;
  display: block;
}
.gameButtons{
  font-size: 30px;
  padding: 50px; /*Padding adjusts the height of the button*/
  white-space: nowrap;
  transform: translateY(450%);
  width: 33%;
  margin-right: 5px;
  border: none;
}
#rockButton{
 background-color: brown;
 margin-left: 3px;
}
#paperButton{
  background-color: white;
}
#scissorsButton{
  background-color: teal;
}
