body{
  background-color: #2c6f80e3;
}
h1{
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}
.gameBtnandScore{
  visibility: hidden;
  display: flex; /*Put this in container which contains the button elements*/
}
#startBtn{
  visibility: visible;
  margin: auto;
  display: block;
}
.gameButtons{
  font-size: 30px;
  padding: 50px; /*Padding adjusts the height of the button*/
  white-space: nowrap;
  transform: translateY(450%);
  width: 33%;
  margin-right: 5px;
  border: none;
}
#rockButton{
 background-color: brown;
 margin-left: 3px;
}
#paperButton{
  background-color: white;
}
#scissorsButton{
  background-color: teal;
}
.score{
  color: rgba(14, 112, 168, 0);
  font-weight: 900;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100px;
  margin-right: 300px;
  text-shadow: -0px 0px 0 #134055,
                          0px 0px 0 #3cabdf,
                         0px -0px 0 #3cabdf,
                        -2px -2px 0 #3cabdf;
}
